<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MvvmCross" version="6.4.2" targetFramework="xamarintvos10" />
  <package id="Plugin.MediaManager" version="0.9.6" targetFramework="xamarintvos10" />
  <package id="Xamarin.Essentials" version="1.5.3.2" targetFramework="xamarintvos10" />
</packages>